.logo {
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 500;
  text-transform: uppercase;
  color: #ecf6fc;
  text-align: center;
  font-size: 28px;
  padding-bottom: 20px;

  @media only screen and (min-width: 64.063em) { 
    width: 380px;
    font-size: 40px;
    padding-bottom: 34px;
    margin-bottom: 34px;
    border-bottom: 1px solid #a5c6db;

    img {
      margin-bottom: 30px;
    }
  }

  img {
    max-height: 120px;
    margin-bottom: 10px;
  }
}
