$vk: #45668e;
$facebook: #3b5998;
$instagram: #3f729b;
$twitter: #55acee;

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0;
  line-height:1;
  color: #455a54;
  @media only screen and (min-width: 64.063em) { 
    text-transform: uppercase;
    margin-bottom: 42px;
    font-size: 28px;
    letter-spacing: 1px;
  }
}
p {
  font-family: 'Roboto';
  font-size: 16px;
}


.header {
  width: 100%;
  background-color: #0277BD;
  @media only screen and (min-width: 64.063em) { 
    background: url('./header_bg.jpg') no-repeat center center;
    background-size: cover;
  }
}

.burger {

  @media only screen and (min-width: 64.063em) { 
    display: none;
  }
}

.topNav {
  display: none;

  @media only screen and (min-width: 64.063em) { 
    display: block;
    padding: 10px 40px;
    margin-bottom: 50px;
    background-color: rgba(0,0,0,0);

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
.stickyTopNav {
  display: none;

  @media only screen and (min-width: 64.063em) { 
    display: block;
    padding: 10px 40px;
    background-color: rgba(0,0,0,0.35);
    transition: all 400ms ease-in;
    transform: translateY(-100%);
    animation: slide-in 0.5s forwards;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

.nav {
  float: right;
  a {
    font-family: 'Roboto';
    display: inline-block;
    padding: 8px 10px;
    margin-left: 8px;
    color: #fff;
    text-align: center;
    transition: background 350ms ease-in;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
      background-color: rgba(0,0,0, 0.3);
    }
  }
}


.social {
  float: left;
  a {
    display: inline-block;
    padding: 4px;
    margin-right: 8px;
    font-size: 18px;
    color: rgba(255,255,255,0.3);
    transition: color 350ms ease-in;
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}


.socialMobile {
  padding: 20px 0 15px;
  text-align: center;
  @media only screen and (min-width: 64.063em) { 
    display: none;
  }
  a {
    font-size: 48px;
    margin: 0 20px;
  }
}

.vk {
  color: $vk;
}
.facebook  {
  color: $facebook;
}
.instagram  {
  color: $instagram;
}
.twitter  {
  color: $twitter;
}


.members {
  padding: 40px 0;

  h2 {
    text-align: center;
  }
  @media only screen and (max-width: 40.0em) { 
    :global(.container) {
      padding: 0;
    }
    .memberGrid {
      margin: 0 !important;
      li { padding-left: 0; padding-right: 0 }
    }
  }

  @media only screen and (min-width: 64.063em) { 
    h2 {
      text-align: left;
    }
    padding: 80px 0;
  }
}

.about {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  background: url('./about_bg.jpg') no-repeat center center;
  background-size: cover;

  @media only screen and (min-width: 64.063em) { 
    padding: 80px 0;
  }

  h2, p {
    color: #fefeff;
  }
  p {
    line-height: 1.6;
  }
}


.footer {
  padding:40px 0px;
  background-color: #263238;
  text-align: center;
}
.footerText {
  font-size: 18px;
  color: #cfd8dc;
  line-height: 2;
  text-align: center;
}
.ktknLink {
  display: inline-block; 
  padding: 0 5px;
  font-family: 'Roboto Condensed';
  color: #00d2e8;
  transition: all 350ms ease-in;
  border-radius: 3px;
  &:hover {
    color: #00d2e8;
    text-decoration: none;
    background-color: rgba(255,255,255,0.15);
  }
}
