.mobilePlay {
  padding: 15px 0;
  background-color: rgba(2, 119, 189, 0.13);
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (min-width: 64.063em) { 
    display: none;
  }

  .playButton {
    float: left;
    margin-right: 15px;
  }
  .fix > div {
  }
  .playLabel {
    float: left;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 20px;
    line-height: 1;
    color: #455a54;
  }
}
