.member {
  text-align: center;
  padding: 8px;
  .avatar {
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10000px;
    overflow: hidden;
    margin-bottom: 14px;
  }
  .avatarDemo {
    width: 100px;
    height: 100px;;
    background-color: #ddd;
  }
  .memberName {
    font-family: 'Roboto';
    font-size: 16px;
    color: #01579b;
  }
  .rank {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #455a64;
  }
  .socialLinks {

    transition: all 350ms ease-in;
    font-size: 18px;
    opacity: 0;
    text-align: center;
    margin-top: 4px;
    a {
      margin-right: 4px;
      padding: 4px;
    }
  } 
  &:hover {
    .socialLinks { opacity: 1; }
  }


}
