//TODO: Fix on tablets text position,  Move variables
$vk: #45668e;
$facebook: #3b5998;
$instagram: #3f729b;
$twitter: #55acee;
.tapped {
  background-color: #fafafa !important;
  padding: 16px 16px !important;
  .socialLinks {
    opacity: 1 !important;
  }
}


.vk {
  color: $vk;
  &:hover { color: lighten($vk, 10); }
}
.facebook  {
  color: $facebook;
  &:hover { color: lighten($facebook, 10); }
}
.instagram  {
  color: $instagram;
  &:hover { color: lighten($instagram, 10); }
}
.twitter  {
  color: $twitter;
  &:hover { color: lighten($twitter, 10); }
}

.member {
  padding: 8px 24px;
  transition: padding 350ms ease-in;
  cursor: default;

  @media only screen and (max-width: 40.0em) { 
    padding: 8px 16px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (min-width: 64.063em) {
    text-align: center;
    min-height: 250px;
  }

  .avatar {
    float: left;
    margin-right: 16px;
    & > * {
      max-width: 100px;
      max-height: 100px;
      border-radius: 10000px;
      overflow: hidden;
    }
    @media only screen and (min-width: 40.0em) {
      text-align: center;
      float: none;
      display: block;
      margin-bottom: 14px;
      margin-right: 0;
    }
  }
  .credentials {
    float: left;
    margin-top: 20px;
    @media only screen and (min-width: 40.0em) {
      text-align: center;
      margin-top: 0;
      float: none;
      display: block;
    }
  }
  .avatarDemo {
    display: inline-block;
    width: 100px;
    height: 100px;;
    background-color: #ddd;
  }
  .memberName {
    font-family: 'Roboto';
    font-size: 16px;
    color: #01579b;
  }
  .rank {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #455a64;
  }
  .socialLinks {

    transition: all 350ms ease-in;
    font-size: 28px;
    opacity: 0;
    margin-top: 4px;
    @media only screen and (min-width: 64.063em) {
      font-size: 22px;
      text-align: center;
    }
    a {
      margin: 0 6px;
      transition: color 350ms ease-in;
      @media only screen and (min-width: 64.063em) {
        margin: 0 2px;
        padding: 4px;
      }
    }
  } 
  &:hover {
    .socialLinks { opacity: 1; }
  }

}
